#editor-canvas {
    /* Default cursor handled by JS now due to pan/zoom tool states */
    touch-action: none; /* Prevent browser handling gestures */
}

.tool-active {
    background-color: var(--color-base-300);
    border-color: var(--color-primary);
}
